p {
  font-family: 'Libre Baskerville', serif;
  color: #666666;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  color: black;
}

body {

  margin:0 auto;
}

section {
  margin-right: auto;
  margin-left: auto;
  width: 66%;

}

#mapexample {

width: 70%;
height: 70%;
}

#cheatsheet {
  width: 50%;
height: 50%;
}

#classchess {
  width: 50%;
  height: 50%;
}

#chessboard {
  width: 50%;
  height: 50%;
}