p {
  font-family: 'Libre Baskerville', serif;
  color: #666666;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  color: black;
}

body {

  margin:0 auto;
}

section {
  margin-right: auto;
  margin-left: auto;
  width: 66%;

}

#mapexample {
  max-height: 150px;
max-width: 200px;
width: 600px;
height: 200px;
}