  body {
            font-family: 'Libre Baskerville', serif;

        }

        header {
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            background-color: gray;
            color: white;
            font-family: 'Julius Sans One', sans-serif;
        }

        nav {
            border-bottom: 1px solid black;
            text-align: center;
            font-family: 'Julius Sans One', sans-serif;
        }

        nav li {
            display: inline;
            padding: 5%;

        }



        }
        article {

            color: black;
        }


        a {
            text-decoration: none;
            color: black;
        }

        ul {

        }

         footer {
            border-top: 1px solid black;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  bottom: 0;
  width: 100%;
  clear: both;
  margin-top: 260px;
  float: left;
        }

        footer li {
            display: inline;
            padding: 5%
        }