/*.login {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: gray;
}

#attempt1 {
  text-align: center;
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}*/

canvas {
   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
    height: auto;
    
}

#actual-content h4 {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

h1 {
  text-align: center;
font-family: 'Julius Sans One', sans-serif;
font-size: 50px;
font-weight: bold;
color: black;
}

h3 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  color: black;
}

h4 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  color: black;
}

h5 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;

    font-weight: bold;
    color: #FF9900;
}

.create-stuff {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15px;
  color: #FF9900;
}

.create-stuff a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.create-stuff a:hover {
  
    color: #FF9900;
    }

h1 a:link {
  color: black;
}
h1 a:hover {
    color: black;
}
h1 a:active {
    color: black;
       }
h1 a {
text-decoration: none;
}
h1 a:visited {
  color: black;
}


li a:link {
    color: black;
}

li a:visited {
  color: black;
}

li a:hover {
    color: #FF9900;
    }

li a:active {
    color: black;
  }

li a {
  text-decoration: none;
}

ul {
  text-align: center;
font-size: 15px;
font-family: 'Julius Sans One', sans-serif;
line-height: 18px;
padding: 10px;
}

nav li {
  display: inline;
padding:5%;
margin: 0;
line-height: 30px;
text-align: center;
}

li {
  display: inline;
margin: 0;
line-height: 30px;
text-align: center;
}

/*#cool-beans ul li a {
  display: inline;
padding:5%;
margin: 0;
line-height: 30px;
text-align: center;
}*/

.underline_me:hover {
  text-decoration: none;
border-bottom: 1px solid #000;
}


img {
    display: block;
    margin: 0 auto;
}

#firstjapchar {
  margin-top: -25px;
}

#secondjapchar {
  margin-top: -75px
}

#signfooter {
  max-width: 700px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  clear:both;
}

#leftsign {
  float: left;
  max-width: 50%;

}

#rightsign {
  float: right;
  max-width: 50%;
}


 .container {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #canvas {
        display: block;
        padding: 0;
        margin: 0 auto;

        background-color:red;
    }

    @media(max-width:1200px) {
        .container {
            margin: 0 50px;
        }
        #canvas {
            width: 100%;
            height: auto;
            background-color:red;
        }
    }