
.links {
  text-align: center;
}

#tom-and-jerry-pic, #catbreak-link, #route-optimizer {
  font-size: 25px;  
}

.blue {
  text-decoration: none;
  color: #FF0000;
}

.blue:hover {
  color: #FF9900;
}

#entry-page {
  font-family: 'Libre Baskerville', serif; 
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 17px;
  /*color: #666666;*/
  color: black;
  line-height: 130%;
}

body {
  margin:0 auto;
}

section {
  margin-right: auto;
  margin-left: auto;
  max-width: 55%;
}

section #tom-and-jerry-pic{
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

h1 a:link {
  color: black;
}

h1 a:hover {
  color: black;
}

h1 a:active {
  color: black;
}

h1 a {
  text-decoration: none;
}

h1 a:visited {
  color: black;
}

h3 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  color: black;
}

h4 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  color: black;
}

h5 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: #FF9900;
}

li a:link {
  color: black;
}

li a:visited {
  color: black;
}

li a:hover {
  color: #FF9900;
}

li a:active {
  color: black;
}

li a {
  text-decoration: none;
}

ul {
  text-align: center;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 18px;
  padding: 10px;
}

nav li {
  display: inline;
  padding:3%;
  margin: 0;
  line-height: 30px;
  text-align: center;
}

li {
  display: block;
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.underline_me:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

#classchess, #chessboard {
  max-width: 50%; 
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#firstjapchar {
  margin-top: -25px;
}

#secondjapchar {
  margin-top: -75px;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

#canvas {
  display: block;
  padding: 0;
  margin: 0 auto;        
}

@media(max-width:1200px) {
  .container {
    margin: 0 50px;
  }
  #canvas {
    width: 100%;
    height: auto;   
  }
}

