/*#imagebackground {
  width: 100%;
  height: 100%;
}

canvas {
		margin-top: 500px;
    width: 300px;
    margin: 0 auto;
    

}*/


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}